<html>
    <head>
        <title>Ka-Fa 1.618+1498.382</title>
    </head>
    <body>
        <div>
            <h1>Django ile Blog</h1>
        </div>

        <div>
            <p>published: 24.01.2018, 19:45</p>
            <h2>İlk Blogum</h2>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
        </div>

        <div>
            <p>published: 24.01.2018, 19:50</p>
            <h2>İkinci gönderim</h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>
